*{
	padding:0px;
	margin:0px;
}
#wrap{
	width:100%;
	height:auto;
	margin:0 auto;
	background-color: #ffffff;
}
.header_top{
	width:100%;
	height:30px;
	border-bottom:1px solid #ddd;
	background-color:#f5f5f5;
	font-size:13px;
	font-family:"Microsoft yahei";
}
.login_infor{
	width:80%;
	height:30px;
	line-height:30px;
	margin:0 auto;
	position: relative;
}
.login_infor a:link,a:visited{
	color:#404040;
	text-decoration: none;
}
.login_infor a:hover{
	color:#f60;
}
.login_register{
	  width:200px;
		float:left;
		letter-spacing:2px;
		position: absolute;
		left:0px;
}
.login_register .l1{
	display:inline-block;
	margin-left:0px;
}
.login_register .l2{
	display:inline-block;
	margin-left:10px;
}
.login_register .l3{
	display:inline-block;
	margin-left:10px;
}
.reservation{
	width:160px;
	letter-spacing:2px;
	position: absolute;
	right:-24px;
}
.reservation .r1{
	display:inline-block;
	margin-right:10px;
}
.reservation .r2{
	display:inline-block;
	padding-right:0px;
}
.header_middle{
	width:80%;
	height:95px;
	margin:0 auto;
	position:relative;
}
.header_middle .img1{
	width:166px;
	height: 63px;
	position: absolute;
  top:16px;
}
.header_middle .search_roll{
	width:auto;
	height: auto;
	position: absolute;
	margin-left: 350px;
	margin-top:35px;
}
.header_middle .img2{
	width:194px;
	height: 69px;
	float:right;
	margin-top: 27px;
}
.main_index{
	width:80%;
	height:auto;
	margin:0 auto;
	position: relative;
}
.scroll_bar{
	width:100%;
	height:400px;
}
.scroll_bar a:hover{
	opacity: 0.8;
}
.scroll_bar .scroll_top{
	width: 100%;
	height:45%;
}
.scroll_bar .scroll_top img{
	width: 100%;
  height: 100%;
	opacity: 1;
	border: 1px solid white;
	border-radius: 10px;
}
.scroll_bar .scroll_bottom img{
	width: 100%;
  height: 100%;
	opacity: 1;
	border: 1px solid white;
	border-radius: 10px;

}
.scroll_bar  .s1{
	width:23.7%;
	height: 100%;

	float: left;
}
.scroll_bar  .s2,.s3{
	width:23.7%;
	height: 100%;
	margin-left: 16px;
	float: left;
}
.scroll_bar .scroll_bottom{
	width: 100%;
	height:45%;
	margin-top:20px;

}
.purchase_form{
	width:100%;
	height:auto;
	margin-top: 20px
	background-color:#e5d0cb;
}
.purchase_form .form2{
	width:100%;
	height:200px;
	margin-top: 15px;
}
.purchase_form .form2 .p1{
	width:31%;
	height:100%;
	margin-left: 20px;
	float: left;
}
.pic1{
	width:100%;
	height: 80%;
}
.purchase_form .form2 .p2{
	width:32%;
	height:100%;
	margin-left: 32px;
	background-color:  #cce8cf;
	float: left;
}
.purchase_form .form2 .p3{
	width:30%;
	height:100%;
	background-color:  #cce8cf;
	float:right;
}
.footer{
	width:100%;
	height:auto;
	margin-top:450px;
	margin-bottom:20px;
	text-align:center;
	font-size:12px;
	color: #777777;
	line-height: 1.5;
}
.footer a:link,a:visited{
	color: #777777;
	text-decoration: none;
}
