<!DOCTYPE html>
<html>
 <head>
   <link href="../static/images/icon.ico" rel="shortcut icon" /><!--title小图标-->
   <title>农家乐_关于我们_旅游网</title>
   <meta charset="utf-8" />
   <link href="../static/css/us.css" rel="stylesheet" type="text/css" />
 </head>
 <body>
   <div id="wrap">
    <div class="header">
      <a href="index.html"><img src="../static/images/logo.png.png" /></a>
    </div>
    <div class="main">
    <div class="above">
      <div class="left">
        <ul>
          <li><a href="about_us.html">关于我们</a></li>
          <li><a href="contact_us.html">联系我们</a></li>
          <li><a href="protocal.html">用户协议</a></li>
          <li><a href="help.html">用户反馈</a></li>
        </ul>
      </div>
      <div class="right">
        <h2>关于我们</h2>
        <p>农家乐旅游网以鲜明的定位、专业到位的服务，为用户提供专业农家乐资讯、农家乐旅游 为一体的网络服务平台。成为旅游爱好者及农家乐商户获取旅游动态、农家乐信息首选的网络媒体。
旨在打造专业的农家乐旅游门户网站。</p><p> 旨在为消费者提供最真实、优质的周边游玩及乡村游玩信息。 目前全国站点都已开通，重点拓展区域为陕西站，已覆盖了西安周边3000多家优质农家乐，并且还 在不断努力扩充中。其他省市分站诚邀您的加盟！
</p><p>彼时，互联网大潮刚刚进入中国，开始成为大家生活的一部分。广大旅行者亟需一个了解旅游信息、分享旅游经历的平台。在内部一群旅行爱好者的推动和筹划之下，社区应运而生。社区一上线就获得的广大网友的喜爱和支持，并在之后几年内迅速成长为国内领先的旅游社区。在这里，汇聚了数十万乐于分享的旅游达人，积累了海量真实准确的旅游信息.</p>
        <p>我们的宗旨：发现最美农家·乐享绿色生活！</p>
      </div>
    </div>
    </div>
</body>
</html>
