{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../static/css/chat.css" />
</head>
<body>
<div class="forms">
留言:{{ wtf.quick_form(form) }}
</div>
<div class="leave">
<div class="content">
<h3>{{ ch.body1 }}</h3>
</div>
<div class="user">
{% if ch %}
<i>留言用户</i>：{{ ch.message.username }}
<i>卖家</i>：{{ ch.contact.username }}
{% endif %}
{% if ch.body2 %}
留言内容：{{ ch.body2 }}
{% else %}
{% if current_user == ch.contact %}
<a href="{{ url_for('main.reply', id=ch.message.id) }}">回复</a>
{% endif %}
{% endif %}
</div>
</div>
</body>
</html>
