
<!DOCTYPE html>
<html>
 <head>
   <link href="../static/images/icon.ico" rel="shortcut icon" /><!--title小图标-->
   <title>农家乐_联系我们_旅游网</title>
   <meta charset="utf-8" />
   <link href="../static/css/us.css" rel="stylesheet" type="text/css" />
 </head>
 <body>
   <div id="wrap">
    <div class="header">
      <a href="index.html"><img src="../static/images/logo.png.png" /></a>
    </div>
    <div class="main">
    <div class="above">
      <div class="left">
        <ul>
          <li><a href="about_us.html">关于我们</a></li>
          <li><a href="contact_us.html">联系我们</a></li>
          <li><a href="protocal.html">用户协议</a></li>
          <li><a href="help.html">用户反馈</a></li>
        </ul>
      </div>
      <div class="right">
        <h2>联系我们</h2>
        <p>我们珍视你说的每一句话：建议、咨询，或者是投诉、问候。我们保证你的每个声音都会得到回复。</p>
<p>网站反馈：</p>
<p>使用攻略社区遇到问题？</p>
<p>网站信息有错误？</p><p>
你认攻略社区怎么做可以更好地服务旅行者？</p>
<p>请致信 行者之声</p>

      </div>
    </div>
    </div>
</body>
</html>
