
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
<a href="{{ url_for('auth.logout') }}">logout</a>
{% if current_user.is_authenticated %}
{{ current_user.username }}
<a href="{{ url_for('main.user',id=current_user.id) }}">个人资料</a>
{% else %}
<a href="{{ url_for('auth.login') }}">登录</a> <a href="{{ url_for('auth.register') }}">注册</a>
{% endif %}
<a href="{{ url_for('main.feedback') }}">反馈意见</a>

<div>搜索:{{ wtf.quick_form(form) }}
</div>

{% for store in stores %}
<a href="{{ url_for('main.store', id=store.id) }}"><span>
<div><img src="{{ url_for('static', filename='farmpic/%s' %store.pic) }}" height="120" width="140"></div>
<div>名字:{{ store.name }}
价格:{{ store.price }}
地址:{{ store.address }}
简介:{{ store.introduce }}</div></span></a>
{% endfor %}


{% if pagination %}
<div class="pagination">
{{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

